@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');

*, *:before, *:after {
    all: unset;
    display: revert;
    line-height: 100%;
    letter-spacing: 0;
}

:root {
    --grid-column-width: 10.1rem;
    --grid-gap: 2rem;

    --color-orange: #FF5533;
    --color-black: #262A2F;
    --color-grey: #868686;
    --color-white: #FFFFFF;
}

h1,
h2,
h3,
p {
    color: var(--color-black);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2,
h3 {
    font-weight: 700;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.8rem;
}

a {
    color: var(--color-grey);
    font-weight: 500;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--color-white);
    font-size: 1.9rem;
    font-weight: 400;
    position: relative;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: var(--grid-gap);
}

.header {
    grid-column: 3 / -4;
    display: flex;
    column-gap: 5rem;
    position: relative;
    height: max-content;
    width: 100%;
    margin-top: 3.6rem;
}

.header__logo {
    position: relative;
    height: 7.6rem;
    object-fit: cover;
}

.header__tags {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__tags__tag {
    font-weight: 900;
    height: max-content;
    color: var(--color-black);
}

.main {
    margin-top: 10.5rem;
    grid-column: 3 / 11;
    position: relative;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4.5rem;
}

.main__item {
    position: relative;
    height: 27.9rem;
    width: 100%;
    display: flex;
    column-gap: var(--grid-gap);
}

.main__item-img {
    flex: 0 0 auto;
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    overflow: hidden;
}

.main__item-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__item-tag {
    color: var(--color-orange);
    font-size: 1.1rem;
}

.main__item-title {
    font-size: 3.4rem;
}

.main__item-text {
    font-weight: 400;
}

.main__item-source {
    font-size: 1.6rem;
}

.nav {
    margin-top: 10.5rem;
    grid-column: 12 / -3;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 3.5rem;
}

.nav__item {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    border-left: 8px solid var(--color-black);
    padding-left: 1rem;
}

.nav__item-info {
    position: relative;
    width: max-content;
    display: flex;
    column-gap: .8rem;
}

.nav__item-data {
    color: var(--color-orange);
    font-weight: 500;
}

.nav__item-source {
    font-size: 1.6rem;
    &::before {
        content: '•';
        padding-right: .8rem;
    }
}

.footer {
    grid-column: 1 / -1;
    position: relative;
    margin-top: 13.5rem;
    padding: 1.8rem 12.5% 4.6rem 12.5%;
    background: var(--color-black);
}

.footer__nav {
    display: flex;
    align-items: center;
    column-gap: 6.2rem;
    width: max-content;
}


.footer__logo {
    position: relative;
    height: 3rem;
    object-fit: cover;
}

.footer__tags {
    position: relative;
    display: flex;
    column-gap: 5rem;
}

.footer__tags__tag {
    font-weight: 900;
    color: var(--color-white);
    height: max-content;
}

.footer__other {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 3.9rem;
}

.footer__attention {
    color: var(--color-white);
    font-size: 1.9rem;
}

.footer__link {
    color: var(--color-orange);
    text-decoration: underline;
    font-weight: 700;
}

.footer__license {
    color: var(--color-grey);
}


.active-link {
    color: var(--color-orange);
}