.main-article__item {
    position: relative;
    height: 27.9rem;
    width: 100%;
    display: flex;
    column-gap: var(--grid-gap);
}

.main-article__item-img {
    flex: 0 0 auto;
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    overflow: hidden;
}

.main-article__item-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-article__item-tag {
    color: var(--color-orange);
    font-size: 1.1rem;
}

.main-article__item-title {
    font-size: 3.4rem;
}

.main-article__item-text {
    font-weight: 400;
}

.main-article__item-source {
    font-size: 1.6rem;
}

.small-article__item {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    border-left: 8px solid var(--color-black);
    padding-left: 1rem;
}

.small-article__item-info {
    position: relative;
    width: max-content;
    display: flex;
    column-gap: .8rem;
}

.small-article__item-data {
    color: var(--color-orange);
    font-weight: 500;
}

.small-article__item-source {
    font-size: 1.6rem;
    &::before {
        content: '•';
        padding-right: .8rem;
    }
}