.main {
  margin-top: 10.5rem;
  grid-column: 3 / 11;
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4.5rem;
}

.nav {
  margin-top: 10.5rem;
  grid-column: 12 / -3;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
}

.footer {
  grid-column: 1 / -1;
  position: relative;
  margin-top: 13.5rem;
  padding: 1.8rem 12.5% 4.6rem 12.5%;
  background: var(--color-black);
}

.footer__other {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 3.9rem;
}

.footer__attention {
  color: var(--color-white);
  font-size: 1.9rem;
}

.footer__link {
  color: var(--color-orange);
  text-decoration: underline;
  font-weight: 700;
}

.footer__license {
  color: var(--color-grey);
}

.active-link {
  color: var(--color-orange);
}
